nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-color);
}

nav h1 {
    color: white;
}



ul {
    display: flex;
}

ul li {
    list-style: none;
    
}
.nav-active {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.nav-active:hover {
    color: rgb(205, 124, 124);
}

.title-active:hover {
    color: white;
}

@media(max-width:430px) {
    nav h1 {
        font-size: 15px;
    }

    .nav-active {
        font-size: 10px;
    }
}

