
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-color);
}

nav h1 {
    color: white;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    
}
.nav-active {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

